<div id="footer">
  <p>
    <a href="https://www.facebook.com/profile.php?id=100002970170794" target="_blank" title="Clément thoret - Facebook">
      <img src="{{ asset('/bundles/clemacportfolio/images/fb.png') }}" alt="Facebook"/>
      Thoret Clément
    </a>
    <a href="http://www.dailymotion.com/just-a-kid#hp-h-8" target="_blank" title="Clément thoret - dailymotion">
      <img src="{{ asset('/bundles/clemacportfolio/images/dm.png') }}" alt="Facebook"/>
      Thoret Clément
    </a>
    <a href="https://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a>
    <g:plusone size="small"></g:plusone>
  </p>
</div>
