<div id="menu1" class="menu">
  <ul>
    <li>
      <div class="haut"></div>
      <div class="gauche"></div>
      <div class="texte" style="background-color: #df2e00">
        <a href="{{ path('clemac_portfolio_front_home') }}" title="Accueil - développeur Web, intégrateur">Accueil</a>
      </div>
      <div class="bas"></div>
    </li>
    <li>
      <div class="haut"></div>
      <div class="gauche"></div>
      <div class="texte" style="background-color: #29a5e4">
        <a href="" title="Curriculum vitae - développeur Web">Cv</a>
      </div>
      <div class="bas"></div>
    </li>
    <li>
      <div class="haut"></div>
      <div class="gauche"></div>
      <div class="texte" style="background-color: #92c224">
        <a href="" title="Mes réalisations - intégrateur Web">Site web</a>
      </div>
      <div class="bas"></div>
    </li>
    <li>
      <div class="haut"></div>
      <div class="gauche"></div>
      <div class="texte" style="background-color: #8e5cf4">
        <a href="" title="Mes réalisations - production Audiovisuel">Audiovisuel</a>
      </div>
      <div class="bas"></div>
    </li>
    <li>
      <div class="haut"></div>
      <div class="gauche"></div>
      <div class="texte" style="background-color: #ffa236">
        <a href="" title="Blog - développeur Web">Blog</a>
      </div>
      <div class="bas"></div>
    </li>
    <li>
      <div class="haut"></div>
      <div class="gauche"></div>
      <div class="texte" style="background-color: #999999">
        <a href="" title="Contact - développeur Web">Contact</a>
      </div>
      <div class="bas"></div>
    </li>
  </ul>
</div>
<!-- Menu1 -->