{% extends 'ClemacPortfolioBundle::layout_admin.html.twig' %}

{% block title %}Dashboard - {{ parent() }}{% endblock %}

{% block breadcrumbTitle %}
  Dashboard
  <small>Control panel</small>
{% endblock %}

{% block breadcrumbLink %}
  <li><a href="{{ path('clemac_portfolio_admin_dashboard') }}"><i class="fa fa-dashboard"></i> Home</a></li>
  <li class="active">Dashboard</li>
{% endblock breadcrumbLink %}

{% block bodycontent %}
	<h1>Welcome to the Default:dashboard page</h1>
{% endblock %}
