@charset "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tabl tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	color: #222222;
	font-family: Verdana, sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clear {
	clear: both;
}


body {
	background-color: #c7c8c8;
	background-image: url(img/fon-site.jpg);
	background-repeat: no-repeat;
}

#centre-site {
	width: 1000px;
	margin: auto;
}


/***********   Titre du site   ***********/
h1 {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}



/***********   Block menue   ***********/
.menu {
	width: 104px;
	float: left;
	margin-top: 50px;
}
.menu ul {
	list-style-type: none;	
}
.menu ul li {
	margin-bottom: 10px;
	float: left;
	
	margin-left: 30px;
	
	transition-property: margin-left;
	transition-duration: 1s;
	transition-delay: 1s;
	transition-timing-function: ease;
	
	-moz-transition-property: margin-left;
	-moz-transition-duration: 1s;
	-moz-transition-delay: 1s;
	-moz-transition-timing-function: ease;
	
	-webkit-transition-property: margin-left;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 1s;
	-webkit-transition-timing-function: ease;
}
.menu ul li:hover {
	margin-left: 0px;
	
	
	transition-delay: 0s;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
}
.menu .texte {
	font-size: 14px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	float: left;
	width: 100px;
	color: #FFFFFF;
}
.menu .texte a {
	color: #FFF;
	text-decoration: none;
}
.menu .texte a:hover {
	color: #222222;
}
.menu .haut {
	background-image: url(img/images/fon-bouton_09.png);
	width: 104px;
	height: 4px;
	float: left;
}
.menu .gauche {
	background-image: url(img/images/fon-bouton_10.png);
	width: 4px;
	height: 34px;
	float: left;
}
.menu .bas {
	background-image: url(img/images/fon-bouton_13.png);
	width: 104px;
	height: 4px;
	float: left;
}




/******   Ombre du centre   ******/
#centre {
	width: 817px;
	float: left;
	margin-left: -8px;
	padding-bottom: 50px;
}

#centre .haut {
	background-image: url(img/images/porfoliot-copie_03.png);
	width: 817px;
	height: 20px;
	float:left;
}

#centre .gauche {
	background-image: url(img/images/porfoliot-copie_13.png);
	width: 8px;
	min-height: 400px;
	float: left;
	background-repeat: repeat-y;
}

#centre .droite {
	background-image: url(img/images/porfoliot-copie_11.png);
	width: 8px;
	min-height: 400px;
	float: right;
	background-repeat: repeat-y;
}

#centre .ombre {
	background-image: url(img/ombre.png);
	background-repeat: repeat-y;
	width: 100%;
	float: left;
}

#centre .bas {
	background-image: url(img/images/porfoliot-copie_16.png);
	width: 817px;
	height: 16px;
	float: left;
}

#centre #site {
	background-color: #FFFFFF;
	width: 801px;
	float: left;
	margin-top: -12px;
	margin-left: 8px;
}

/**************   Titre de page   **************/
#site #titre {
	width: 801px;
	height: 159px;
	float: left;
}

#site #titre h2 {
	font-size: 25px;
	color: #FFFFFF;
	margin-left: 80px;
	margin-top: 60px;
}
#site #titre h2 strong {
	color: #222222;
}

/******   Fond de titre   ******/
#site #titre.titre1 {
	background-image: url(img/fon-rouge.jpg);
}
#site #titre.titre2 {
	background-image: url(img/fon-bleu.jpg);
}
#site #titre.titre3 {
	background-image: url(img/fon-vert.jpg);
}
#site #titre.titre4 {
	background-image: url(img/fon-orange.jpg);
}
#site #titre.titre5 {
	background-image: url(img/fon-violet.jpg);
}
#site #titre.titre6 {
	background-image: url(img/fon-gris.jpg);
}




/***********   Blog   ***********/

#blog {
	padding-top: 20px;
	float: left;
}

#articles {
	margin: 15px;
	float: left;
	width: 600px;
}

.acticle .titre {
	width: 100%;
	height: 20px;
	margin-bottom: 20px;
}
.acticle .titre h3 {
	float: left;
	font-size: 18px;
	text-indent: 15px;
	color: #F90;
}
.acticle .titre p {
	float: right;
	font-size: 10px;
	margin-top: 10px;
	color: #666666;
}

.acticle .comtenue {
	margin: 5px;
}
.acticle .comtenue p {
	font-size: 12px;
	float: left;
	margin-bottom: 7px;
	width: 100%;
	min-height: 12px;
}

.acticle .tag ul {
	float: right;
}
.acticle .tag ul p {
	float: left;
	font-weight: bold;
	font-size: 12px;
	color: #333333;
}
.acticle .tag ul li {
	display: inline;
	float: left;
	font-size: 12px;
	margin-left: 3px;
	margin-right: 3px;
}
.acticle .tag ul li a {
	text-decoration: none;
	color: #999999;
}
.acticle .tag ul li a:hover {
	color: #F90;
	
}
.acticle .ligne {
	background-image: url(img/ligne.jpg);
	width: 100%;
	height: 1px;
	margin-bottom: 30px;
	margin-top: 30px;
}


#block_gauche {
	margin: 15px;
	width: 141px;
	float: left;
}
#block_gauche h6 {
	margin-bottom: 10px;
	text-align: center;
}
#block_gauche ul {
	margin-bottom: 30px;
}
#block_gauche ul li {
	text-align: center;
}
#block_gauche ul li a {
	text-decoration: none;
	color: #222222;
	font-size: 12px;
}
#block_gauche ul li a:hover {
	color: #F90;
}


/***********   Contatc   ***********/
#site #contact {
	float: left;
}
#site #contact h5 {
	font-size: 16px;
	font-weight: bold;
	margin-left: 30px;
	margin-top: 40px;
	color: #333333;
}

#site #contact form {
	margin: 30px;
	float: left;
}
#site #contact form p {
	clear: both;
	font-size: 14px;
}
#site #contact form label {
	width: 75px;
	float: left;
	height: 40px;
	margin-left: 20px;
}
#site #contact form input {
	float: left;
	width: 100px;
}
#site #contact form input.long {
	width: 300px;
}
#site #contact form textarea {
	width: 300px;
	height: 150px;
	float: left;
}
#site #contact form input[type=submit] {
	margin-top: 15px;
}
#site #contact img {
	float: left;
	margin-top: 30px;
}
#site #contact #contact_block {
	float: left;
	margin-top: ffa236;
	background-color: #999999;
	margin-top: 30px;
	width: 307px;
}
#site #contact #contact_block span {
	color:#FFF;
	float: left;
    font-size: 20px;
    margin-top: -4px;
}
#site #contact #contact_block p {
	color: #333;
	font-size: 14px;
	margin: 37px 6px;
    text-align: right;
    width: 290px;
}

#site #contact #message {	
	margin: 30px;
	float: left;
	width: 400px;
}

#site #contact #erreur {
	color: #900;
	font-size: 12px;
	margin-bottom: 10px;
}

/***********   Cv   ***********/
#site #cv {
	float: left;
}
#site #cv a {
	text-decoration: none;
	color: #29a5e4;
}
#site #cv h5 {
	font-size: 16px;
	font-weight: bold;
	margin-left: 30px;
	margin-top: 40px;
	color: #29a5e4;
}
#site #cv ul {
	font-size: 12px;
	margin-left: 60px;
	margin-top: 20px;
	list-style-type: none;	
}
#site #cv p {
	font-size: 12px;
	margin-left: 70px;
	margin-top: 20px;
	margin-bottom: 30px;	
}

#site #cv p a {
	font-size: 16px;
	text-decoration: none;
	color: #F90;
}

#site #cv p a img {
	width: 10%;
	vertical-align: middle;
}
#site #cv label {
	width: 200px;
	min-height: 1px;
	float: left;
}


/***********   Acceuil   ***********/
#site #acceuil {
	float: left;
}
#site #acceuil h6 {
	font-size: 18px;
	font-weight: bold;
	margin-left: 30px;
	margin-top: 40px;
}


.cv {
	color: #29a5e4;
}
.real {
	color: #86b220;
}


#site #acceuil p {
	font-size: 14px;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	
}

a.real {
	margin: 17px;
	float: left;
	border: 8px solid #CCCCCC;
}
a.real:hover {
	border: 8px solid #92c224;
}
.real a {
	margin: 17px;
	float: left;
	border: 8px solid #CCCCCC;
}
.real a:hover {
	border: 8px solid #92c224;
}






#socio {
	width: 360px; 
	height: 30px;
	float: left;
	margin-left: 430px;
	margin-top: 5px;
	margin-bottom: 10px;
}
#socio .rxs {
	margin: 5px;
	float: left;
	width: 110px;
}

/***********   Réalisation   ***********/

#site #real {
	float: left;
}
#site #real .real {
	float: left;
	margin-top: 30px;
}
#site #real h5{
	margin-left: 20px;
}

#site #real .real2 {
	float: left;
	margin: 30px;
}

#site #real .real2 p {
	margin: 5px;
	margin-top: 20px;
	font-size:12px;
	float: left;
}
#site #real .real2 p a {
	color: #92c224;
}
#site #real .real2 img {
	border: 1px solid #222222;
	margin-top: 30px;	
}

/*
*/


/***********   Réalisation   ***********/

#site #av {
	float: left;
}
#site #av .av {
	float: left;
	margin-top: 30px;
}
#site #av h5{
	margin-left: 20px;
}

#site #av .av2 {
	float: left;
	margin: 30px;
}

#site #av .av2 p {
	margin: 5px;
	margin-top: 20px;
	font-size:12px;
}
#site #av .av2 p a {
	color: #8e5cf4;
}
#site #av .av2 img {
	border: 1px solid #222222;
	margin-top: 30px;	
}

.av a {
	margin: 17px;
	float: left;
	border: 8px solid #CCCCCC;
}
.av a:hover {
	border: 8px solid #8e5cf4;
}

/*
*/

/****************   Block doite bleu   *****************/




#block-doite {
	margin-left: -8px;
	margin-top: 60px;
}

/*#block-doite .fixe{
	
	position: fixed;
	right: 0px;
	width: 217px;
}*/
#block-doite .fixe{
	position: fixed;
	right: 0px;
	width: 140px;
	transition-property: width;
	transition-duration: 1s;
	transition-delay: 2s;
	transition-timing-function: ease;
	
	-moz-transition-property: width;
	-moz-transition-duration: 1s;
	-moz-transition-delay: 2s;
	-moz-transition-timing-function: ease;
	
	-webkit-transition-property: width;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 2s;
	-webkit-transition-timing-function: ease;
}
#block-doite .fixe:hover{
	width: 217px;
	transition-delay: 0s;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
}

#block-doite .fixe #texe-block {
	right: -217px;
	transition-property: right;
	transition-duration: 1s;
	transition-delay: 2s;
	transition-timing-function: ease;
	
	-moz-transition-property: right;
	-moz-transition-duration: 1s;
	-moz-transition-delay: 2s;
	-moz-transition-timing-function: ease;
	
	-webkit-transition-property: right;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 2s;
	-webkit-transition-timing-function: ease;
}
#block-doite .fixe:hover #texe-block {
	right: 0px;
	
	transition-delay: 0s;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
}

#block-doite .haut {
	background-image: url(img/images/bleu_03.png);
	width: 217px;
	height: 19px;
	float: left;
}
#block-doite .centre {
	background-image: url(img/images/bleu_06.png);
	width: 217px;
	float: left;
	margin-bottom: Opx;
}
#block-doite .bas {
	background-image: url(img/images/bleu_08.png);
	width: 217px;
	height: 16px;
	float: left;
}


#block-doite h3 {
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 10px;
	margin-left: 20px;
	width: 100px;
}


#block-doite h4 {
	font-size: 14px;
	margin-left: 20px;
	color: #FFFFFF;
	margin-top: 10px;
	margin-bottom: 5px;
}

#block-doite ul {
	margin-left: 30px;
	list-style-type: none;	
	margin-top: 5px;
	margin-bottom: 5px;
}
#block-doite ul li {
	color: #FFFFFF;
	font-size: 12px;
}
#block-doite ul li strong {
	color: #FFFFFF;
	font-size: 12px;
}
#block-doite ul li a:hover {
	color: #FFFFFF;
}

#block-doite #texe-block {
	position: fixed;
	top: 167px;
	width: 217px;
	float: left;
	margin-top: 23px;
	
}






#footer {
	float: left;
	width: 100%;
	padding-top: 20px;
}
#footer p {
	text-align: center;
	font-size: 12px;
	color: #444444;
}
#footer p a {
	text-decoration: none;
}