<div id="block-doite">
  <div class="fixe">

    <div class="haut"></div>
    <div class="centre">
      <h3>Mes compétences</h3>
    </div>

    <div id="texe-block">
      <div class="centre">
        <h4>Les Langages :</h4>
        <ul>
          <li>Xhtml / Css</li>
          <li>ActionScript 3.0</li>
          <li>Php / Sql</li>
          <li>JavaScript / Ajax / Dom</li>
        </ul>

        <h4>Les Logiciels :</h4>
        <ul>
          <li>Photoshop</li>
          <li>Illustrator</li>
          <li>Flash</li>
          <li>Dreamweaver</li>
          <li>Premiere</li>
          <li>After Effect</li>
          <li>Indesign</li>
        </ul>

        <h4>Autres :</h4>
        <ul>
          <li><strong>CMS</strong> : Wordpress, Joomla</li>
          <li>Notions de <strong>Référencement</strong></li>
        </ul>


        <h4>Sites web :</h4>

        <ul>
          {% for i in 0..1 %}
            <li>
              <a href="#" title="#">
                Ttire real
              </a>
            </li>
          {% endfor %}
        </ul>

      </div>
      <div class="bas"></div>
    </div>
  </div>
</div>